@import url('https://fonts.googleapis.com/css2?family=Anton&family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

::selection{
  background-color: transparent;
}
body {
  background: url('character.jpg');
  display: none;
}
.characterselector {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin-top:5%;
}

.characterselector h1 {
  position: absolute;
  left: 40vW;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  color: rgba(253, 253, 253, 0.938);
  font-size: 35px;
  margin-left: -2%;
  font-weight: bold;
  text-shadow: 2px 2px rgba(14, 13, 13, 0.671);
}
#createcharacter {
  height: 3vw;
  width: 25vw;
  position: absolute;
  margin-top: 5%;
  background-color: rgba(70, 67, 67, 0.582);
  border: 1px solid rgba(116, 116, 116, 0);
  font-family: 'Secular One', sans-serif;
  color: rgba(245, 245, 245, 0.836);
  border-radius: 3px;
  cursor: pointer;
  font-size: 19px;
}
#createcharacter:hover {
    background-color: rgba(10, 9, 9, 0.568);
    color:white;
}
.characterselector ul li {
  list-style: none;
  background-color:rgba(31, 30, 30, 0.747);
  padding: 10px;
  margin-left: -15%;
}
.charselect {
  padding: 20px;
  width: 300px;
  background-color: rgba(37, 37, 37, 0.705);
  font-family: 'Secular One', sans-serif;
  margin-left: .5%;
  margin-right: .5%;
  margin-top: 10%;
  color: rgb(216, 204, 204);
  border-radius: 4px;
  border-left: 6px solid rgba(180, 17, 17, 0.479);
  /*  */
}
.charselect:hover {
  border-left-color: rgba(31, 180, 17, 0.438);
}

.charselect button {
  margin-top: 25px;
  border: 1px solid rgba(0, 0, 0, 0);
  padding: 12px;
  width: 80%;
  background-color: rgba(10, 9, 9, 0.699);
  color: whitesmoke;
  cursor: pointer;
  font-family: 'Secular One', sans-serif;
  border-radius: 3px;
}
.charselect button:hover {
  background-color: rgba(10, 9, 9, 0.438);
  color:white;
}
.createcharecterscreen {
  display: none;
  justify-content: center;
}
.registercharacter {
  padding: 20px;
  width: 700px;
  background-color: rgba(37, 37, 37, 0.705);
  font-family: 'Secular One', sans-serif;
  margin-left: .5%;
  margin-right: .5%;
  margin-top: 7%;
  color: rgb(216, 204, 204);
  border-radius: 4px;
  text-align: center;
}
.registercharacter input {
  padding: 8px;
  width: 85%;
  margin-bottom: 5px;
  border: 1px solid transparent;
  background-color: rgba(0, 0, 0, 0.507);
  color: rgba(255, 255, 255, 0.685);
}
.registercharacter select {
  border: 1px solid transparent;
  width: 87.5%;
  height: 4vh;
  margin-bottom: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.685);
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgba(0, 0, 0, 0.603);
}
.registercharacter select::-ms-expand {
  display: none;
}
.registercharacter input::selection {
  background-color: rgba(255, 255, 0, 0.315);
}
.registercharacter button {
  border: 1px solid transparent;
  width: 75%;
  height: 5vh;
  margin-top: 2%;
  background-color: rgba(15, 206, 25, 0.247);
  border-radius: 3px;
  color: rgba(255, 255, 255, 0.726);
}
.registercharacter button:hover {
    background-color: rgba(15, 206, 25, 0.397);

}
.registercharacter button:last-child {
    background-color: rgba(206, 15, 15, 0.247);

}
.registercharacter button:last-child:hover {
      background-color: rgba(206, 15, 15, 0.425);

}
